main {
    display: grid;
    justify-content: center;
    align-content: center;
      background: linear-gradient(to right, #4A90E2, #c2e9fb);

}

.cardArea {
    height: 100%;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}