.cardArea {
    height: 100%;
    width: 100%;
    max-width: 1500px;
    min-height: 630px;
    padding: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    animation: popIn 0.5s ease-out forwards;
}





@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.05); /* leicht größer für "Bounce" */
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}





.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px;
}

.pageButton {
  background-color: #eee;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.pageButton:hover {
  background-color: #ddd;
}

.activePageButton {
  background-color: #007bff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 500;
  color: white;
}


@media (max-width: 900px) {

.cardArea {

    padding: 10vw;
}
}