.weekdayTitle {
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
  color: rgb(1, 37, 116);
}

.weekdayContent {
  display: grid;
  font-weight: 500;
  font-size: 12px;
  padding: 15px;
  gap: 4px;
  color: rgb(29, 29, 29);
}

.cardContentLine {
  display: flex;
  gap: 8px;
}

.cardContentLine span {
  align-content: center;
  font-size: 14px;
}
