.card {
    height: 260px;
    width: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.25),
        6px 6px 10px rgba(0, 0, 0, 0.15);
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 8px;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(35, 37, 48);
    color: white;
}

.cardContent {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.kalenderWoche {
        font-size: 20px;
         font-weight: 900;
         padding-bottom: 15px;
         text-decoration: underline;

}

@media (max-width: 800px) {

    .card {
    height: 250px;
    width: 250px;
}
}