#root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 120px 1fr;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
      background: linear-gradient(to right, #4A90E2, #c2e9fb);
}